extends layout

block hero
  a(href="/").hero-link
    h1
      span.logo-word Carl
      span.logo-word Hacks
  span.subheader
    span.subheader-fact April 24–26
    span.subheader-fact Northfield, MN

block content
  section.card
    h1 What to Bring
    p We recomend that you bring the following items to CarlHacks:
      ul
        li laptop / computer
        li laptop charger
        li ethernet cable (if desired)
        li phone charger
        li student ID
        li hardware (note: CarlHacks will provide select hardware)
        li toiletries
        li towel
        li shower shoes
        li change of clothes
        li pillow
      a(href="mailto:info@carlhacks.io") Let us know
      = ' '
      | if you have any questions. See you all soon!
