extends layout

block hero
  h1
    span.logo-word Carl
    span.logo-word Hacks
  span.subheader
    span.subheader-fact April 24–26
    span.subheader-fact Northfield, MN

block content
  section.card.error
    img(src='/img/error.png', width='75')
    h1.error= status
    p.error-msg
      = msg
    p.error-msg
      | Maybe check out our <a href="/">homepage</a>?