extends page

block page
  section.card.error
    img(src='/img/error.png', width='75')
    h1.error= status
    p.error-msg
      = msg
    p.error-msg
      | Maybe check out our <a href="/">homepage</a>?