extends layout

block hero
  h1
    span.logo-word Carl
    span.logo-word Hacks
  span.subheader
    span.subheader-fact April 17-19
    span.subheader-fact Northfield, MN

block content
  form.user(action="/users/save", method="post")
    p.action=actionSent
    fieldset
      if '_id' in user
        input(type='hidden', value=user._id, name='user[id]')
      .question
        label(for='user-name')
          span.q.required Full Name
        input.text(id='user-name', type='text',name='user[name]',required, value=(('name' in user) ? user.name : ''))
      .question
        label(for='user-email')
          span.q.required Email
        input.text(id='user-email', type='text',name='user[email]',required, value=(('email' in user) ? user.email : ''))
      .question
        label(for='user-school')
          span.q.required School
        input.text(id='user-school', type='text',name='user[school]',required, value=(('school' in user) ? user.school : 'Carleton College'))
      .question
        label(for='user-year')
          span.q.required Class Year
        input.text(id='user-year', type='number',name='user[classYear]',required, value=(('classYear' in user) ? user.classYear : 2015))
      .question
        label(for='user-urls')
          | Online Profiles
          br
          | (GitHub, LinkedIn, etc.)
        textarea.text(id='user-urls',name='user[urls]')=('urls' in user) ? user.urls : undefined
      .question
        label(for='user-shirt-size')
          span.q.required Shirt Size
        select(id='user-shirt-size',name='user[shirtSize]')
          option(value='XS', selected=(('shirtSize' in user) && user.shirtSize == 'XS' ? 'selected' : undefined))
            | X Small
          option(value='S', selected=(('shirtSize' in user) && user.shirtSize == 'S' ? 'selected' : undefined))
            | Small
          option(value='M', selected=(('shirtSize' in user) && user.shirtSize == 'M' ? 'selected' : undefined))
            | Medium
          option(value='L', selected=(('shirtSize' in user) && user.shirtSize == 'L' ? 'selected' : undefined))
            | Large
          option(value='XL', selected=(('shirtSize' in user) && user.shirtSize == 'XL' ? 'selected' : undefined))
            | X Large
          option(value='XXL', selected=(('shirtSize' in user) && user.shirtSize == 'XXL' ? 'selected' : undefined))
            | XX Large
      .question
        label(for='user-vegetarian')
          span.q Dietary Restrictions
        .multi-check
          input(id='user-vegetarian', type="checkbox", name="user[dietary][vegetarian]", checked=(('dietary' in user) && (user.dietary.indexOf('vegetarian') >= 0) ? "checked" : undefined))
          | Vegetarian
          br
          input(type="checkbox", name="user[dietary][vegan]",  checked=(('dietary' in user) && (user.dietary.indexOf('vegan') >= 0) ? "checked" : undefined))
          | Vegan
          br
          input(type="checkbox", name="user[dietary][glutenfree]",  checked=(('dietary' in user) && (user.dietary.indexOf('glutenfree') >= 0) ? "checked" : undefined))
          | Gluten Free
          br
          input(type="checkbox", name="user[dietary][kosher]",  checked=(('dietary' in user) && (user.dietary.indexOf('kosher') >= 0) ? "checked" : undefined))
          | Kosher
      .question
        label(for='user-ids-woman')
          span.q
            | Identify as a Woman and
            br
            | Request Pre-registration
          span.desc
            | For those that identify as a woman and wish to be considered for
            | pre-registration, please check this box.
        .single-check
          input(id='user-ids-woman', type="checkbox", name="user[idsWoman]", checked=(('idsWoman' in user) && user.idsWoman ? "checked" : undefined))
      .question
        label(for='user-need-grant')
          span.q Need a Travel Grant
          span.desc
            | We can't guarantee that everyone will get grants, but...
        .single-check
          input(id='user-need-grant', type="checkbox", name="user[grant]", checked=(('grant' in user) && user.grant ? "checked" : undefined))
      .question
        label(for='user-no-photo')
          span.q Opt out of Photos
          span.desc
            | Do not do this.
        .single-check
          input(id='user-no-photo', type="checkbox", name="user[noPhoto]", checked=(('noPhoto' in user) && user.noPhoto ? "checked" : undefined))
      .question
        label(for='user-agree')
          span.q
            | Agree to Terms and
            br
            | Code of Conduct
          span.desc
            | Do do this.
        .single-check
          input(id='user-agree', type="checkbox", name="user[agree]", checked=(('agree' in user) && user.agree ? "checked" : undefined))
      input.register(type="submit", value="Submit", class="btn btn-primary")
  section.card.success.hidden
    h1 Success
    p
      | Thanks for submitting! If you haven't recieved and email yet,
      | expect one soon. In the mean time, feel free to
      = ' '
      a.update-link(href='#') update your account here
      | . We will let you know as soon as our guest list is final!
  .go-home-wrapper
    a.register.go-home(href='/') Home