extends layout

block content
  .logo.border
    img#logo(src="img/carlhacks.png")
  .blurry-wrap
    .blurry1.bg.img-1(data-speed="2.5")
      .container
        .hero
          h2
            | The Carleton College hackathon.
          h2
            | One night to build
            br
            | something awesome.
          h3 Nov. 1, 9PM – Nov. 2, 9AM in CMC 308
  .border
    .container
      .header
        h1 Reserve your place
        br
        p.lead
          | What could you build in 12 hours?
          br
          | Bring your ideas, passion, and laptop (optional) to the CMC
          | this Friday and join us for coding, pizza, and prizes.
    .container
      form.form-horizontal(action="/users/new", method="post")
        fieldset
          .form-group
            label.control-label.col-sm-4(for='user-name') Full name*
            .col-sm-8
              input.form-control(id='user-name', type='text',name='user[name]',required)
          .form-group
            label.control-label.col-sm-4(for='user-email') Email*
            .col-sm-8
              input.form-control(id='user-email', type='text',name='user[email]',required)
          .form-group
            label.control-label.col-sm-4(for='user-bracket') Bracket*
            .col-sm-8
              select.form-control(id='user-bracket',name='user[bracket]')
                option(value='12') 12 Hour (9PM-9AM)
                option(value='4') 4 Hour (9PM-1AM)
          .form-group
            label.control-label.col-sm-4(for='user-team-name') Team name
            .col-sm-8
              input.form-control(id='user-team-name', type='text',name='user[team_name]',placeholder='optional')
          .form-group
            label.control-label.col-sm-4(for='user-team-members') Team members
            .col-sm-8
              input.form-control(id='user-team-members', type='text',name='user[team_members]',placeholder='optional')
          .form-group
            label.control-label.col-sm-4(for='user-need-team') Looking for a team
            .col-sm-4
              .checkbox
                input(id='user-need-team', type="checkbox", name="user[need_team]", checked=(true===false ? "checked" : undefined))
            .col-sm-2(style='padding-right: 0')
              input.submit(type="submit", value="Submit", class="btn btn-primary")
          hr
      .note
        span#hacker-count #{count}
        | &nbsp;hackers have already registered.
      br
      br
  .blurry-wrap
    .blurry.bg.img-2(data-speed="0.35")
      .container
  .border
    .container
      .header
        h1 What's a hackathon?
        br
        p.lead.
          Hackathons are fast-paced events in which small teams work to
          implement an idea.
          The projects are usually software-oriented.
          Hackathons are often organized by tech companies and by universities, and
          typically involve large quanities of junk food and caffeinated beverages.
          The largest college hackathons attract as many as a thousand students and
          give out thousands of dollars in prizes.
        br
        h1 CarlHacks rules
        br
        .ul.rules
          li.lead Teams can have 1-5 members.
          li.lead All coding must finish at 9AM.
          li.lead Teams will present their projects at 10AM on Saturday.
          li.lead.
            Projects will be judged by professors on the criteria of usefulness,
            innovation, and presentation. Presentations on Saturday will be
            the sole basis for the judging.
          li.lead.
            You can start planning now but all code relating to your project
            must be written at the event, with the exception of any publicly available
            resources. You are <strong>strongly encouraged</strong> to take advantage
            of open source libraries and technologies.
        br
  .footer.bg(data-speed="0")
    p
      span © Carleton Computing Society 2013