extends layout

block content
  .logo.border
    img#logo(src="img/carlhacks.png")
  .blurry-wrap
    .blurry.bg
      .container
        .hero
          h2 One night to build something awesome.
          h3 Nov. 1, 9PM – Nov. 2, 9AM
          h3 CMC 308
  .border
    .container
      .header
        h1 Reserve your place
        br
        p.lead
          | What could you build in 12 hours?
          br
          | Bring your ideas, passion, and laptop (optional) to the CMC
          | this Friday and join us for coding, pizza, and prizes.
    .container
      form.form-horizontal(action="/users/new", method="post")
        fieldset
          .form-group
            label.control-label.col-sm-4(for='user-name') Full name*
            .col-sm-8
              input.form-control(id='user-name', type='text',name='user[name]',required)
          .form-group
            label.control-label.col-sm-4(for='user-email') Email*
            .col-sm-8
              input.form-control(id='user-email', type='text',name='user[email]',required)
          .form-group
            label.control-label.col-sm-4(for='user-bracket') Bracket*
            .col-sm-8
              select.form-control(id='user-bracket',name='user[bracket]')
                option(value='12') 12 Hour (9PM-9AM)
                option(value='4') 4 Hour (9PM-1AM)
          .form-group
            label.control-label.col-sm-4(for='user-team-name') Team name
            .col-sm-8
              input.form-control(id='user-team-name', type='text',name='user[team_name]',placeholder='optional')
          .form-group
            label.control-label.col-sm-4(for='user-team-members') Team members
            .col-sm-8
              input.form-control(id='user-team-members', type='text',name='user[team_members]',placeholder='optional')
          .form-group
            label.control-label.col-sm-4(for='user-need-team') Looking for a team
            .col-sm-4
              .checkbox
                input(id='user-need-team', type="checkbox", name="user[need_team]", checked=(true===false ? "checked" : undefined))
            .col-sm-2(style='padding-right: 0')
              input.submit(type="submit", value="Submit", class="btn btn-primary")
          hr
      .note
        | #{count} hackers have already registered.
      br
      br
  .blurry-wrap
    .blurry2.bg
      .container
  .border
    .container
      hr
      .header
        h1 Schedule and Rules

  .footer.bg
    p
      span © Carleton Computing Society 2013