extends layout

block content
  .logo
    img#logo(src="img/carlhacks2.png")
  .blurry-wrap
    .blurry.bg
      .container
        .hero
          h2 One night to build something awesome.
          h3 Nov. 1, 9PM - Nov. 2, 9AM
          h3 CMC 308
  .container
    .starter-template
      h1 Bootstrap starter template
      p.lead
        Use this document as a way to quickly start any new project
        <br>
        All you get is this text and mostly barebones HTML document.
      form(action="/users/new", method="post")
        div
            div
                span Name :
                input(type="text", name="name", id="editUserName")
            div
                span Email :
                input(type="text", name="email", id="editUserEmail")
            div#editUserSubmit
                input(type="submit", value="Send")
      a(href='/users') View All Users
  .footer.bg
    p
      span © Carleton Computing Society 2013