extends layout

block content
  header
    object.logo(data='/img/logo.svg')
      img(src='/img/logo.png')
    nav
      span.date April 17-19
      span.location Northfield, MN
      button.register Sign Up
  main
    section.card.right.mission
      h1 Our Mission
      p
        | Join us for 36 hours of building, learning, and connecting.
        | CarlHacks is bringing 400 undergraduate students together to spend
        | a weekend creating projects. Our team is excited to bring a huge
        | hackathon to a small midwest liberal arts college, and we are
        | working to bring more inclusivity and a liberal arts perspective
        | to the world of hackathons!
      object.wind(data='/img/wind.svg')
        img(src='/img/wind.png')
    section.card.left.info
      h1 General Information
      p
        | TEXT text TEXT text
      object.circuit(data='/img/circuit.svg')
        img(src='/img/circuit.png')
    section.card.right.schedule
      h1 Schedule
      p
        | TEXT text TEXT text
      object.knight(data='/img/knight.svg')
        img(src='/img/knight.png')
    section.card.left.transport
      h1 Transportation
      p
        | TEXT text TEXT text
      object.terminal(data='/img/terminal.svg')
        img(src='/img/terminal.png')
    section.signup
      button.register Sign Up
  footer
    object.bottom-datao(src='/img/bottom-logo.svg')
      img(src='/img/bottom-logo.png')
    div.sponsors
      p sponsors go here.
