extends layout

block content
  .logo
    img#logo(src="img/carlhacks.png")
  .blurry
    .container
      .hero The premier liberal arts college hackathon
  .container
    .starter-template
      h1 Bootstrap starter template
      p.lead
        Use this document as a way to quickly start any new project
        <br>
        All you get is this text and mostly barebones HTML document.
      form(action="/users/new", method="post")
        div
            div
                span Name :
                input(type="text", name="name", id="editUserName")
            div
                span Email :
                input(type="text", name="email", id="editUserEmail")
            div#editUserSubmit
                input(type="submit", value="Send")
      a(href='/users') View All Users
