extends layout

block content
  header.hero
    img(src='/img/logo-white.png').logo
    div
      h1
        span.logo-word Carl
        span.logo-word Hacks
      span.subheader
        span.subheader-fact April 17-19
        span.subheader-fact Northfield, MN
      button.register Sign Up
  main
    section.card.right.mission
      h1 Our Mission
      p
        | Join us for 36 hours of building, learning, and connecting.
        | CarlHacks is bringing 400 undergraduate students together to spend
        | a weekend creating projects. Our team is excited to bring a huge
        | hackathon to a small midwest liberal arts college, and we are
        | working to bring more inclusivity and a liberal arts perspective
        | to the world of hackathons!
    section.card.left.info
      h1 General Information
      p
        | TEXT text TEXT text
    section.card.right.schedule
      h1 Schedule
      p
        | TEXT text TEXT text
    section.card.left.transport
      h1 Transportation
      p
        | TEXT text TEXT text
    section.signup
      button.register Sign Up
  footer
    object.bottom-datao(src='/img/bottom-logo.svg')
      img(src='/img/bottom-logo.png')
    div.sponsors
      p sponsors go here.
