extends page

block page
  header.hero
    a(href="/").hero-link
      img(src='/img/logo-white.png').logo
    div
      a(href="/").hero-link
        h1
          span.logo-word Carl
          span.logo-word Hacks
      span.subheader
        span.subheader-fact April 24&ndash;26
        span.subheader-fact Northfield, MN
      a.register(href='/apply') Apply
  main
    section.social
      a(href='https://www.facebook.com/thereal.carlhacks', target='_blank')
        img(src='/img/social/fb.png')
      a(href='http://instagram.com/carlhacks', target='_blank')
        img(src='/img/social/instagram.png')
      a(href='https://plus.google.com/117569729082257476793', target='_blank')
        img(src='/img/social/gplus.png')
      a(href='https://twitter.com/carlhacks', target='_blank')
        img(src='/img/social/twitter.png')
    section.card.right.mission
      h1 400 students. 36 hours. Limitless possibilities.
      p
        | Carleton College is pleased to announce the first large-scale hackathon at a small
        | liberal arts college, bringing the inclusive
        | liberal arts perspective to the world of hackathons. Whether
        | you have a passion for graphic design or a penchant for systems,
        | your skills and ideas can help create something truly powerful.
        | That’s the essence of the liberal arts perspective&mdash;diverse backgrounds
        | can lead to impressive results.
        = ' '
        strong What will you create?
    div.card.divider
      img(src='/img/photo-card-3.jpg')
    section.card.left.info
      h1 Event Details
      p
        | Hosted by Carleton College in Northfield, MN, CarlHacks is a 36-hour overnight event where teams work
        | together to build interesting apps, websites, and games, and other projects.
      p
        | At CarlHacks, <strong>any student who is or was enrolled in an undergraduate
        | collegiate institution during the 2014&ndash;2015 academic year</strong> is eligible
        | to participate in <strong>teams of 2&ndash;5</strong>.
        | You don’t need meaningful coding experience to participate&mdash;hackathons are a great opportunity
        | to learn new skills or hone old ones. Whether you’re a graphic designer or a dedicated
        | Python enthusiast (or both!), you can make an important contribution to a CarlHacks project.
        | We’ll also have sponsors and mentors on-site to help hackers expand their coding and design abilities.
        | At the end of the event, teams may choose to submit their projects for judging,
        | and prizes are awarded to the best projects in a variety of categories. Even if you choose not to submit
        | a project for judging, you’ll leave CarlHacks with more tools to make your future aspirations a reality.

      h2 What to Bring
      p
        | <strong>You will need to bring your laptop, charger, your student ID card</strong>, and any hardware
        | you intend to use in your hack. It is also strongly recommended that you bring
        | toiletries, shower shoes, a change of clothing, and a pillow. CarlHacks is completely free to attend, and
        | we'll provide meals, showers, and air beds for napping. You don’t need to have a project
        | idea before the hackathon begins&mdash;some of the best ideas happen during hackathons, not
        | before. You don’t even need to form a team before the hackathon! We will facilitate a “speed-dating”
        | period to help hackers form teams at the beginning of the event.
      h2 The Venue
      p
        | CarlHacks will be held in the Carleton College Recreation Center Fieldhouse. This space
        | has showers, sinks, bathrooms, and a bouldering wall on-site, and boasts enough space for 400 hackers
        | (and sponsors). The Rec Center is also mere steps from Carleton’s 880 acre arboretum, providing
        | a convenient venue for outdoor adventures if you need a break from your screen.
      h2 Networking and Learning
      p
        | At CarlHacks, both sponsors and mentors will be available for connecting and networking.
        | Mentors will be great resources for targeted learning, and will run workshops and walk the floor
        | to answer questions.
      p
        | Representatives from our sponsors will also be present at the event, manning tables around the perimeter
        | or circulating through the project areas. This is a wonderful opportunity to talk with current employees
        | or plan a future interview.

      p More information on sponsors and workshop schedules will be available as the event approaches.
    div.card.divider
      img(src='/img/photo-card-2.jpg')
    //- section.card.right.schedule
    //-   h1 Schedule
    //-   p
    //-     | <em>Talks, workshops, and other activities will be added as they are scheduled</em>
    section.card.left.transport
      h1 Transportation
      h2 From Minneapolis&ndash;St.Paul
      p For people coming to CarlHacks from the Twin Cities, we will be organizing a few bus pickup and drop-off locations for transportation to and from Carleton College.
      p Bus stop locations and times will be determined after registration closes (early April)
      h2 From the Airport
      p There will be several bus pickup and drop-off times at the MSP Transit Center in Terminal 1-Lindbergh.
      h2 Personal Vehicles
      p If you are driving a personal vehicle to and from the event, parking location information and parking passes will be issued at a later date.
    div.card.divider
      img(src='/img/photo-card-4.jpg')
    section.card
      h1 Become a Sponsor or Mentor
      p
        | Want to help new hackers learn and experienced hackers grow?
        | Participate in CarlHacks as a mentor or a sponsor!
      p
        | To volunteer as a CarlHacks mentor, contact us at
        = ' '
        a(href="mailto:mentor@carlhacks.io?subject=Mentor+CarlHacks")
          | mentor@carlhacks.io
        | . We would love to have you run a workshop, walk the floor and
        | answer questions, or contribute your expertise in some other way.
      p
        | Want to get your company involved? Sponsors will not only help
        | make CarlHacks a possibility through their donations, but
        | will also have the opportunity to represent their brand and
        | connect with some of the top students in the Midwest and beyond.
        | Email us at
        = ' '
        a(href="mailto:sponsor@carlhacks.io?subject=Sponsor+CarlHacks")
          | sponsor@carlhacks.io
        = ' '
        | to learn more about sponsoring CarlHacks, or take a look at
        = ' '
        a(href="/pdf/sponsorship.pdf") our sponsorship tiers
        | .

    section.signup
      a.register(href='/apply') Apply
  +footer
