extends layout

block hero
  a(href="/").hero-link
    h1
      span.logo-word Carl
      span.logo-word Hacks
  span.subheader
    span.subheader-fact April 24–26
    span.subheader-fact Northfield, MN

block content
  section.card
    h1 Event Information
    p Hey CarlHackers!
    p CarlHacks is getting closer, and we are all super excited to see what you will end up creating this weekend! Below is important information about the event.
  section.card.left.transport
    h1 Getting to CarlHacks
    h2 By Car
    p CarlHacks will be hosted at the <a href="https://www.google.com/maps?hl=en&q=rec+center,+carleton+college">Recreation Center Field House</a> at Carleton College. There is a parking lot right next to the Rec for your automobile storage needs.
    h2 By Plane
    p
      | The bus to CarlHacks from MSP will be an easily identifiable yellow Northfield Lines school bus (just like the old days),
      | and will leave from the MSP Terminal #1/MSP Lindberg Terminal Airport Transit Center at 6:25pm on Friday. <strong>Please be
      | at the Transit center by 6:15pm.</strong> If you arrive in Terminal 2, you will need to take the light rail to Terminal 1.
      | <strong>If your flight arrives later than 5:45pm on Friday or leaves before 5:30pm on Sunday, please let us know ASAP</strong> and we will
      | work on getting you later/earlier transport.
    p If you're having trouble with finding the bus spot on the day of the event, our board member Robert will be on the airport bus. You can call him at <a href="tel:+15107615673">510-761-5673</a>.
    h2 By Bus from the University of Minnesota or Macalester College
    p There will be two stops from which the bus will pick up Twin Cities hackers. Look out for the yellow Northfield Lines school bus at the following locations:
    ul
      li
        p
          strong University of Minnesota Dinkytown McDonalds
          = " "
          | (<a href="https://www.google.com/maps/place/SE+4th+St+%26+15th+Ave+SE/@44.9799079,-93.2344583,19z/data=!4m3!3m2!1s0x52b32d1109c558cb:0xea3b3fbdc40e3a54!4b1?hl=en">4th St E &amp; 15th Ave SE</a>) The bus will be there at approximately 6:45pm, so please be ready to go at 6:40.
      li
        p
          strong Macalester College Campus, Carnegie Hall
          = " "
          | (<a href="https://www.google.com/maps/place/Lincoln+Ave+%26+S+Macalester+St,+St+Paul,+MN+55105/@44.9390374,-93.1695604,17z/data=!3m1!4b1!4m2!3m1!1s0x87f62a18443b8ca1:0x808ccf22e23a119a?hl=en">S Macalester St &amp; Lincoln Ave</a>) The bus will be there at approximately 7:10pm, so please be ready to go at 7pm.

    p If you're having trouble with finding the bus spot on the day of the event, our board member Raven will be on the bus. You can call him at <a href="tel:+16513076537">651-307-6537</a>.
    p On Sunday, the buses will arrive at the same stops between 4pm and 5pm.

  section.card#bring
    h1 What to Bring
    p We recomend that you bring the following items to CarlHacks:
      ul
        li Laptop and charger
        li Phone charger
        li Student ID
        li Toiletries and change of clothes
    p Also, these are some nice-to-haves:
      ul
        li Hardware (if you're planning on doing a hardware hack. We will also have limited hardware available for borrowing.)
        li Ethernet cable
        li Towel, shower shoes, and other shower supplies
        li Pillow &amp; blanket (we'll have airbeds, but no sheets)
  section.card
    h1 Chat, Facebook Group, and ChallangePost
    p If you'd like to chat with other participants before or during the event, feel free to <a href="https://carlhacks-slackin.herokuapp.com/">join our Slack</a>. We'll also probably post announcements about talks and events here, so it's a decent idea to join!
    p We also have a <a href="https://www.facebook.com/groups/773524642768271/">Facebook group</a> for participants. Just request to join, and somebody from CarlHacks will add you.
    p Project judging will be done through ChallengePost. You'll need to <a href="http://carlhacks.challengepost.com/">register now</a>. If you don't have a team yet, don't worry, you can add teammates later. If you already have a team, make sure every team member has a ChallengePost account.
  section.card#schedule
    h1 Schedule
    h2 Friday
    hr
    div.day
      span.time 7:00 PM
      span.desc Check In
      span.time
      span.desc Dinner
      span.time 8:30 PM
      span.desc Opening Ceremony
      span.time 9:15 PM
      span.desc Coding Starts
      span.time
      span.desc Team Mingling
      span.time 9:30 PM
      span.desc TBD Workshop
      span.time 10:30 PM
      span.desc TBD Workshop
      span.time 11:30 PM
      span.desc Game Dev with HTML 5 Workshop
    h2 Saturday
    hr
    div.day
      span.time 12:00 AM
      span.desc Midnight Snack
      span.time 1:00 AM
      span.desc Arb Walk
      span.time
      span.desc Glow in the Dark Frisbee
      span.time 9:00 AM
      span.desc Breakfast
      span.time 10:00 AM
      span.desc Cup Stacking
      span.time 11:00 AM
      span.desc Tempworks Sponsor Talk
      span.time 1:00 PM
      span.desc Lunch
      span.time 2:30 PM
      span.desc Target Sponsor Talk
      span.time 3:15 PM
      span.desc Code in the Dark
      span.time 4:00 PM
      span.desc TBD Talk
      span.time 7:00 PM
      span.desc Dinner
      span.time 8:15 PM
      span.desc TBD Talk
      span.time 11:00 PM
      span.desc Slide Share Karaoke
    h2 Sunday
    hr
    div.day
      span.time 12:00 AM
      span.desc Midnight Snack
      span.time 9:00 AM
      span.desc Stop Coding
      span.time
      span.desc Brunch
      span.time
      span.desc Sleep, Shower, Practice Pitch
      span.time 11:00 AM
      span.desc Judging Begins
      span.time 1:00 PM
      span.desc Award Ceremony/Closing Talk
      span.time 3:30 PM
      span.desc Buses Leave
  section.card
    h1 GET READY
    p By participating at CarlHacks 2015, you are not only participating at the first large scale Hackathon hosted at a small Liberal Arts college, but are also making a powerful statement about the future of diverse thinking in the tech industry.
    p
      a(href="mailto:info@carlhacks.io") Let us know
      = ' '
      | if you have any questions. We cannot wait to see you at CarlHacks!
    p 36 hours. Limitless possibilities. What will you create?

  div.card.divider
    img(src='/img/photo-card-4.jpg')
