doctype 5
html
  head
    title= title
    link(rel='icon', type='image/png', href='/img/favicon.png')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    if additional_stylesheets
        - each stylesheet in additional_stylesheets
            link(rel='stylesheet', href='/stylesheets/'+stylesheet)
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    if additional_js
        - each js in additional_js
            script(src='/js/'+js)
  body
    block content