extends page

block page
  header.hero.small
    a(href="/").hero-link
      img(src='/img/logo-white.png').logo
    div
      block hero
  block content
  footer
    h1
      object.bottom-logo(src='/img/logo-white.svg')
        img(src='/img/logo-white.png')
      | Sponsors
    div.sponsors
      p sponsors go here.
