extends layout

block hero
  a(href="/").hero-link
    h1
      span.logo-word Carl
      span.logo-word Hacks
  span.subheader
    span.subheader-fact April 24–26
    span.subheader-fact Northfield, MN

block content
  section.card
    h1 CarlHacks Schedule
    h2 Friday
    hr
    div.day
      span.time 7:00 PM
      span.desc Check In
      span.time
      span.desc Dinner
      span.time 8:30 PM
      span.desc Opening Ceremony
      span.time 9:15 PM
      span.desc Coding Starts
      span.time
      span.desc Team Mingling
      span.time 9:30 PM
      span.desc TBD Workshop
      span.time 10:30 PM
      span.desc TBD Workshop
      span.time 11:30 PM
      span.desc Game Dev with HTML 5 Workshop
    h2 Saturday
    hr
    div.day
      span.time 12:00 AM
      span.desc Midnight Snack
      span.time 1:00 AM
      span.desc Arb Walk
      span.time
      span.desc Glow in the Dark Frisbee
      span.time 9:00 AM
      span.desc Breakfast
      span.time 10:00 AM
      span.desc Cup Stacking
      span.time 11:00 AM
      span.desc Tempworks Sponsor Talk
      span.time 1:00 PM
      span.desc Lunch
      span.time 2:30 PM
      span.desc Target Sponsor Talk
      span.time 3:15 PM
      span.desc Code in the Dark
      span.time 4:00 PM
      span.desc TBD Talk
      span.time 7:00 PM
      span.desc Dinner
      span.time 8:15 PM
      span.desc TBD Talk
      span.time 11:00 PM
      span.desc Slide Share Karaoke
    h2 Sunday
    hr
    div.day
      span.time 12:00 AM
      span.desc Midnight Snack
      span.time 9:00 AM
      span.desc Stop Coding
      span.time
      span.desc Brunch
      span.time
      span.desc Sleep, Shower, Practice Pitch
      span.time 11:00 AM
      span.desc Judging Begins
      span.time 1:00 PM
      span.desc Award Ceremony/Closing Talk
      span.time 3:30 PM
      span.desc Buses Leave
