extends layout

block hero
  a(href="/").hero-link
    h1
      span.logo-word Carl
      span.logo-word Hacks
  span.subheader
    span.subheader-fact April 24–26
    span.subheader-fact Northfield, MN

block content
  section.card
    h1 Wall of Fame
    p
      | Thank you to our crowdfunding supporters who helped make CarlHacks
      | a success! In the month leading up to CarlHacks, we raised
      | <a href="https://www.indiegogo.com/projects/carlhacks-not-your-usual-hackathon/">over $7000 on Indiegogo</a>
      | thanks to 90 supporters from the Carleton network and beyond.
    ul.supporter-list
      li A Chase Turner ‘83
      li Alex Simonides ‘15
      li Alina Badus ‘04
      li Allison Bailey ‘88
      li Amy Serrano
      li An Yu
      li Asim Manizada ‘13
      li Beatrice Von Schulthess
      li Brian Stolte
      li Casey Goodge ‘14
      li Cathy Beise ‘73
      li Charlie Liu ‘11
      li Courtney Jones ‘15
      li Craig Mollerstuen
      li Dang Quang Tran ‘16
      li Daniel Alabi ‘14
      li David Liben-Nowell
      li David Tillery ‘10
      li Eric Hedberg ‘99
      li Erik Ruggles ‘10
      li Erin Wilson ‘14
      li Ernie Soffronoff ‘94
      li Fitz Bushnell ‘89
      li Florence Wong ‘16
      li Harper Makowsky ‘14
      li Hugh Jones ‘88
      li Jackie Ching
      li James and Adele Cotter
      li James Lord
      li Jamie Chau
      li Jane Doughty
      li Jane Levin
      li Jeffrey Ondich
      li Jen-Mei Wu
      li Joe Slote ‘16
      li Juliet Ching
      li Justin Thomson ‘01
      li Kevin Song
      li Kevin Xie
      li Kirk Damman ‘96
      li Kyle Rives ‘85
      li Kyle Schiller ‘17
      li Laurie Hannon ‘89
      li Leisa Richards ‘85
      li Lewis Keyte ‘04
      li Lucas Havens ‘08
      li Matthew Cotter ‘15
      li Mickey Cotter
      li Muira Mccammon ‘13
      li Nancy Gittleman
      li Nina Shapiro ’14
      li Pablo Kenney ‘09
      li Raphael D'Amico
      li Raul Noguera-Mcelroy ‘17
      li Raven Pillmann ‘16
      li Regina Neu
      li Renata Hoskins
      li Rob Spence ‘88
      li Robert Greenberg
      li Ron Miller
      li Scott Miller
      li Scott O'Reilly ‘02
      li Simon Orlovsky ‘17
      li Stephanie Nelson
      li Stephen Calnek
      li Stephen Schiller
      li Suyu Meng ‘15
      li Takuya Amagai ‘16
      li Thomas Hiura ‘17
      li Timmy Zhu ‘15
      li William Chapin ‘83
      li Yenny Cheung
