extends layout

block hero
  a(href="/").hero-link
    h1
      span.logo-word Carl
      span.logo-word Hacks
  span.subheader
    span.subheader-fact April 24&ndash;26
    span.subheader-fact Northfield, MN

block content
  main
    section.social
      a(href='https://www.facebook.com/thereal.carlhacks', target='_blank')
        img(src='/img/social/fb.png')
      a(href='http://instagram.com/carlhacks', target='_blank')
        img(src='/img/social/instagram.png')
      a(href='https://plus.google.com/117569729082257476793', target='_blank')
        img(src='/img/social/gplus.png')
      a(href='https://twitter.com/carlhacks', target='_blank')
        img(src='/img/social/twitter.png')
    section.card
      h1 Meet the CarlHacks Team!
      div.justify-img
        each name in ['Yawen', 'Matt', 'Courtney', 'Raven', 'Nayeley', 'Josh', 'Abha', 'Robert']
          div.named-pic
            img(src=('/img/team/' + name + '.jpg'))
            p=name
