extends layout

block hero
  a(href="/").hero-link
    h1
      span.logo-word Carl
      span.logo-word Hacks
  span.subheader
    span.subheader-fact April 24&ndash;26
    span.subheader-fact Northfield, MN

block content
  main
    section.social
      a(href='https://www.facebook.com/thereal.carlhacks', target='_blank')
        img(src='/img/social/fb.png')
      a(href='http://instagram.com/carlhacks', target='_blank')
        img(src='/img/social/instagram.png')
      a(href='https://plus.google.com/117569729082257476793', target='_blank')
        img(src='/img/social/gplus.png')
      a(href='https://twitter.com/carlhacks', target='_blank')
        img(src='/img/social/twitter.png')

    section.card
      h1 Meet the CarlHacks Team!
      div.justify-img
        each name in ['Yawen', 'Matt', 'Courtney', 'Raven', 'Nayeley', 'Josh', 'Abha', 'Robert']
          div(class='named-pic')
            img(src=('/img/team/' + name + '.jpg'))
            p=name

    section.card.team
      h1 Yawen
      img(src='/img/team/Yawen.jpg')
      p.blurb
        | Yawen is senior Art History and CS double major from Nanjing, China.
        | Besides her enthusiasm in technology, art and startups, she also
        | craves cooking on a daily basis. In her non-existent free time, Yawen
        | enjoys drinking cider/hot water/tea and wondering around in the
        | 'delightful' Carleton arboretum. she is proud to own the largest
        | phone in the CarlHacks team.

    section.card.team
      h1 Matt
      img(src='/img/team/Matt.jpg')
      p.blurb
        | Matt is a senior from Morris, Minnesota. He experienced his first
        | hackathon as a freshman, and has since been extremely passionate
        | about the idea of getting together with other driven, like-minded
        | individuals and learning through doing. Matt has interned at Scripted
        | and MongoDB and co-founded reQwip. He loves skating, eating food,
        | and the color yellow.

    section.card.team
      h1 Courtney
      img(src='/img/team/Courtney.jpg')
      p.blurb
        | Courtney is a senior psychology major from Ohio who plays varsity
        | soccer, crochets small animals, and travels when she can. She’s been
        | channeling her passions for design, marketing, and logistical
        | organization into making CarlHacks a success. As someone with very
        | little programming experience, Courtney is passionate about bringing
        | an inclusive, interdisciplinary mindset to Carleton’s hackathon.

    section.card.team
      h1 Raven
      img(src='/img/team/Raven.jpg')
      p.blurb
        | Raven is a junior from Saint Paul, Minnesota. As a computer science
        | major, he’s excited to bring his experience planning other similar
        | and larger events, like his high school’s Red Cross Blood Drive and
        | two International Day Festivals at Concordia Language Villages, to
        | CarlHacks. Whenever possible, he loves to travel and see the world,
        | but he will also settle for a run in the park and an americano.

    section.card.team
      h1 Nayeley
      img(src='/img/team/Nayeley.jpg')
      p.blurb
        | Nayely is a junior originally hailing from Los Angeles, California.
        | As board member of Lovelace, Carleton’s women in computing group on
        | campus, she is dedicated to promoting gender diversity in the
        | technology field. One of her ultimate goals is to use computer
        | science as a tool to empower underrepresented groups, particularly
        | immigrant communities. In her spare time, Nayely enjoys hiking,
        | running, Zumba dancing, playing nerf wars, and building the ultimate
        | sofa fort.

    section.card.team
      h1 Josh
      img(src='/img/team/Josh.jpg')
      p.blurb
        | Josh is a sophomore potential Computer Science and Economics double
        | major and Neuroscience concentrator from San Francisco. Josh has
        | worked at a healthcare startup in San Francisco and done hardware
        | computer engineering at both NASA Ames and Langley. In a list of the
        | top three things Josh loves in life, hacking on cool projects with
        | friends takes second place, first place is taken by his awesome cat,
        | and third is a tie between having a vending machine give him two
        | things instead of one by accident and popping bubble wrap.

    section.card.team
      h1 Abha
      img(src='/img/team/Abha.jpg')
      p.blurb
        | Abha is a sophomore from Kolkata, India and a potential Computer
        | Science&ndash;International Relations double major. She enjoys
        | leaderships positions and organizing events, and is excited to bring
        | her past experiences with large events to CarlHacks. At Carleton she
        | is a Resident Assistant, travels with the Model United Nations team
        | and teaches South Asian dancing through Tamarind. She loves to talk
        | with people, dance, listen to music, watch movies and travel.

    section.card.team
      h1 Robert
      img(src='/img/team/Robert.jpg')
      p.blurb
        | Robert is a wee freshman from San Francisco. He's created open source
        | software used by Mozilla and Dwolla, interned at Stripe and TripIt,
        | and is a Hacker School alum. He likes chocolate, cats, and more cats.
        | Also, more chocolate.
