@font-face
  font-family Nanami
  font-weight bold
  src url(/fonts/nanami_bold.otf)

background-size()
  -webkit-background-size arguments
  -moz-background-size arguments
  -o-background-size arguments
  background-size arguments

box-shadow()
  -webkit-box-shadow arguments
  -moz-box-shadow arguments
  box-shadow arguments

.header
  padding: 20px 15px
  text-align: center
a
  color: #00B7FF
.border
  border-top: 1px solid #ccc
  border-bottom: 1px solid #ccc

// 1
.logo
  padding-top: 50px
  padding-bottom: 50px
  text-align: center
  box-shadow 0 2px 3px rgba(0,0,0,0.5)
#logo
  width: 675px
  margin: auto 0

// 2
.blurry-wrap
  width: 100%
  overflow: hidden

.blurry
  min-width: 1008px
  width: 100%
.img-1
  height: 550px
  background: url("/img/blurry1.jpg") no-repeat center 93%
  background-size cover
.img-2
  height: 320px
  background: url("/img/blurry2.jpg") no-repeat center 93%
  background-size cover

.lead
  max-width: 540px
  margin: 0 auto
.hero
  padding: 1em
  margin-top: 350px
  width: 540px
  height: auto
  text-align: left
  font-family: Helvetica
  font-weight: bold
  text-shadow: 0px 1px 8px rgba(0,0,0,0.5)
  background-color: rgba(0,0,0,.3)

.hero h2
  font-size: 32px
  color: #fff
  margin: 0 0 20px

.hero h3
  font-size: 20px
  color: #fff
  margin: 5px 0

// 3
form
  max-width: 600px
  margin: 0 auto
input, select
  max-width: 300px
::-webkit-input-placeholder
  font-style: italic
::-moz-placeholder
  font-style: italic
.submit
  float: right
.note
  font-size: 1.6rem
  color: #468
  text-align: center
  padding-top: 8px

// 4
.q-a
  width: 400px
.q
  font-weight: bold
  font-style: italic
  padding-bottom: 1em
  text-align: left
  font-size: 1.2em
.a
  margin: 0 auto
  text-align: left
  font-size: 1.2em
.rules li
  text-align: left
  text-indent: -1em
  padding-left: 1em
  padding-bottom: 0.5em

// 6
.footer
  background-color: #000
  background: url("/img/footer.jpg") no-repeat center 100%
  color: #bbb
  text-align: center
  padding: 1.5em 0
  p
    margin: 0