// body
//   background-color: #222
//   background: url('/img/binding_dark.png') repeat

box-shadow()
  -webkit-box-shadow arguments
  -moz-box-shadow arguments
  box-shadow arguments

.sub-logo
  background-color: #fff
  box-shadow none

.border
  border-top: none

.project
  color: #444
  .team
    font-size: 2em
    font-weight: bold
  .description, img, .techs
    font-size: 1em
    padding-bottom: 1em
    color: #222
  img
    max-width: 100%