body {
  font-family: proxima-nova;
  font-weight: 400;
  font-size: 16px;
  background-color: #E3E3ED;
  -webkit-font-smoothing: antialiased;
}

a, a:visited, a:hover {
  text-decoration: none;
  color: #1F2165;
  cursor: pointer;
}
a:hover {
  color: #342dd5;
}

.hero {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  background-image: radial-gradient(circle at bottom left, #2E3192 0%, #0C0D2A 80%);
  color: #fff;
  position: relative; /* for transparent background hack */
  padding: 9em 0;
}

.hero.small {
  padding: 3em 0;
}

/* hack to get transparent background */
.hero:after {
  content: "";
  background: url(/img/herobg.jpg) center center/cover;
  opacity: 0.16;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

/* for transparent background hack */
.hero>img, .hero>div, .hero>section {
  position: relative;
  z-index: 1;
}

.logo {
  float: left;
  margin-right: 2.2em;
  height: 10.3125em;
}

.hero.small .logo {
  height: 7em;
}

.hero h1 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 3.625em;
  margin: 0;
}

.logo-word:first-child {
  font-weight: 800;
}

.subheader {
  margin-bottom: 1em;
  display: block;
}

.subheader-fact {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.45em;
}

.subheader-fact:last-child {
  float: right;
}

/* register button */
.register, .register:visited {
  background-color: transparent;
  border: 3px solid #fff;
  border-radius: 4px;
  padding: 0.7em 1.6em;
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  color: #fff;
  transition: 0.1s all ease-in-out;
  outline: none;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 0.7em;
}

.register:focus {
  box-shadow: 0px 0px 5px #fff;
}

.register:hover {
  color: #3D3D85;
  background-color: #fff;
  transform: scale(1.03);
  box-shadow: none;
}

.register:active {
  transform: scale(1);
  box-shadow: none;
}

.signup .register {
  border-color: #1e2164;
  color: #1e2164;
  width: 18em;
  margin: 2em auto;
}

.signup .register:focus {
  box-shadow: 0px 0px 5px #1e2164;
}

.signup .register:hover {
  color: #fff;
  background-color: #1e2164;
  box-shadow: none;
}

.card {
  background-color: #F3F3F7;
  max-width: 41em;
  padding: 2em;
  margin: 0 auto;
  margin-top: 2em;
  position: relative;
  box-sizing: border-box;
  border-radius: 4px;
}

.card.divider {
  padding: 0;
  overflow: hidden;
  background-image: radial-gradient(circle at bottom left, #2E3192 0%, #0C0D2A 80%);
}
.card.divider img {
  width:100%;
  display: block;
  opacity: 0.35;
}

.card.hidden {
  display: none;
}

.card h1 {
  margin: 0;
  font-size: 1.4em;
  color: #1F2165;
  font-weight: 700;
}

.card p {
  line-height: 1.65;
}

.card p:last-child {
  margin-bottom: 0;
}

.card.right {
  padding-left: 100px;
}

.card:after {
  content:'';
  display: block;
  position: absolute;
}

.card.mission:after {
  left: -80px;
  bottom: 0;
  background: url(/img/windmill.png) bottom right/contain no-repeat;
  height: 130%;
  width: 165px;
}

.card.info:after {
  right: 0;
  top: -20px;
  background: url(/img/circuit.png) top right/contain no-repeat;
  height: 130%;
  width: 80px;
}

.card.schedule:after {
  left: -40px;
  top: 0;
  bottom: 0;
  background: url(/img/terminal.png) center right/contain no-repeat;
  width: 111px;
}

.card.transport:after {
  right: -40px;
  top: 0;
  bottom: 0;
  background: url(/img/knight.png) center left/contain no-repeat;
  width: 83px;
}

p.action {
  width: 100%;
  text-align: center;
  margin: 20px 0;
  font-size: 24px;
}


form.user {
  background-color: #F3F3F7;
  max-width: 33em;
  padding: 2em;
  margin: 2em auto;
  border: 0 solid transparent;
}

form.user.hidden {
  display: none;
}

form.user fieldset {
  border: 0 solid transparent;
  margin: 0;
  padding: 0;
}

form.user p.action {
  width: 100%;
  text-align: center;
  margin: 1.25em 0;
  font-size: 2em;
  font-weight: 600;
  color: #1F2165;
  text-transform: uppercase;
}

form.user .question {
  width: 100%;
  margin: 10px 0;
  display: block;
}

form.user .question label {
  width: 50%;
  text-align: right;
  display: inline-block;
  box-sizing: border-box;
  padding-right: 5px;
  vertical-align: top;
}

form.user .question label .q:after {
  content: '*';
  color: transparent;
}
form.user .question label .q.required:after {
  color: red;
}

form.user .question .text,
form.user .question .multi-check,
form.user .question .single-check {
  display: inline-block;
  box-sizing: border-box;
  padding-left: 5px;
  vertical-align: top;
  max-width: 50%;
}

form.user .question .multi-check {
  line-height: 1.4;
}
form.user .question .multi-check input {
  margin-right: 7px;
}

form.user .question label .desc{
  font-style: italic;
  display: block;
  max-width: 12em;
  margin-top: .25em;
  margin-left: auto;
  text-align: left;
  font-size: .875em;
}

form.user .question input[type=text],
form.user .question input[type=tel],
form.user .question input[type=number],
form.user .question textarea {
  border-radius: .25em;
  border: solid 1px #E3E3ED;
  resize: none;
  width: 14em;
}

form.user .register {
  display: inline-block;
  background-color: #3D3D85;
}
form.user .register:hover {
  background-color: #fff;
}

.go-home-wrapper {
  width: 100%;
  padding: 2em;
  text-align: center;
  box-sizing: border-box;
}

a.go-home {
  display: inline;
  background-color: #3D3D85;
  color: #fff;
}

footer {
  margin: 10em 0 0 0;
}

footer h1 {
  background-color: #1F2165;
  padding: 5rem 0;
  width: 100%;
  font-size: 3em;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  vertical-align: middle;
  margin: 0;
}

footer h1 .bottom-logo,
footer h1 .bottom-logo img{
  height: 2em;
  display: inline-block;
  vertical-align: middle;
  margin-right: .25em;
}

footer .sponsors {
  margin: 0;
  background-color: #fff;
  text-align: center;
  padding: 2rem 0 6rem 0;
  box-sizing: border-box;
}
