html, body {
  width: 100%;
  overflow-x: hidden;
}
body {
  font-family: proxima-nova;
  font-weight: 400;
  font-size: 16px;
  background-color: #E3E3ED;
  -webkit-font-smoothing: antialiased;
}

a, a:visited, a:hover {
  text-decoration: none;
  color: #1F2165;
  cursor: pointer;
}
a:hover {
  color: #342dd5;
}

.hero {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  background: radial-gradient(circle at bottom left, rgba(46, 49, 146, 0.74) 0%, rgba(12, 13, 42, 0.74) 80%), url(/img/herobg.jpg) center center/cover;
  color: #fff;
  position: relative; /* for transparent background hack */
  padding: 9em 0;
}

.hero.small {
  padding: 3em 0;
}

/* for transparent background hack */
.hero>img, .hero>div, .hero>section {
  position: relative;
  z-index: 1;
}

a.hero-link {
  color: #fff;
}

.logo {
  float: left;
  margin-right: 2.2em;
  height: 10.3125em;
}

.hero.small .logo {
  height: 7em;
}

.hero h1 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 3.625em;
  margin: 0;
}

.logo-word:first-child {
  font-weight: 800;
}

.subheader {
  min-height: 1.75em;
  margin-bottom: 1em;
  display: block;
}

.subheader-fact {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.40em;
}

.subheader-fact:first-child {
  clear: none;
  float: left;
}

.subheader-fact:nth-child(n+2) {
  float: right;
}

/* register button */
.register, .register:visited {
  background-color: transparent;
  border: 3px solid #fff;
  border-radius: 4px;
  padding: 0.7em 1.6em;
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  color: #fff;
  transition: 0.1s all ease-in-out;
  outline: none;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 0.7em;
}

.register:focus {
  box-shadow: 0px 0px 5px #fff;
}

.register:hover {
  color: #3D3D85;
  background-color: #fff;
  transform: scale(1.03);
  box-shadow: none;
}

.register:active {
  transform: scale(1);
  box-shadow: none;
}

.signup .register, form.user .register {
  border-color: #1e2164;
  color: #1e2164;
  width: 18em;
  margin: 2em auto 0 auto;
}

.signup .register:focus, form.user .register:focus {
  box-shadow: 0px 0px 5px #1e2164;
}

.signup .register:hover, form.user .register:hover {
  color: #fff;
  background-color: #1e2164;
  box-shadow: none;
}

.card, form.user {
  background-color: #F3F3F7;
  max-width: 41em;
  padding: 2em;
  margin: 0 auto;
  margin-top: 2em;
  position: relative;
  box-sizing: border-box;
  border-radius: .25em;
}

.card.divider {
  padding: 0;
  overflow: hidden;
  background-image: radial-gradient(circle at bottom left, #2E3192 0%, #0C0D2A 80%);
}
.card.divider img {
  width:100%;
  display: block;
  opacity: 0.35;
}

.card.hidden {
  display: none;
}

.card h1 {
  margin: 0 0 .57em 0;
  font-size: 1.4em;
  color: #1F2165;
  font-weight: 700;
}

.card h2 {
  margin: 1.8em 0 0.5em 0;
  font-size: 1em;
  color: #1F2165;
  font-weight: 700;
}

.card p {
  line-height: 1.65;
  margin: 0 0 0.8em 0;
}

.card p:last-child {
  margin-bottom: 0;
}

.card.error {
  padding-top: 4em;
  padding-bottom: 4em;
}

.card.error img {
  display: block;
  margin: 0 auto 1rem auto;
}

h1.error {
  color: #979797;
  text-align: center;
  margin: 0 0 1rem 0;
}

.error-msg {
  text-align: center;
  color: #555;
  display: block;
}

p.errors {
  color: #FF0B0F;
}

.card.right {
  padding-left: 6em;
}

.card:after {
  content:'';
  display: block;
  position: absolute;
}

.card.mission:after {
  left: -80px;
  bottom: 0;
  background: url(/img/windmill.png) bottom right/contain no-repeat;
  height: 130%;
  width: 165px;
}

.card.info:after {
  right: 0;
  top: -20px;
  background: url(/img/circuit.png) top right/contain no-repeat;
  height: 130%;
  width: 80px;
}

.card.schedule:after {
  left: -40px;
  top: 0;
  bottom: 0;
  background: url(/img/terminal.png) center right/contain no-repeat;
  width: 111px;
}

.card.transport:after {
  right: -40px;
  top: 0;
  bottom: 0;
  background: url(/img/knight.png) top left/contain no-repeat;
  width: 83px;
}

.social {
  text-align: center;
  width: 100%;
  padding: 2em 0 0 0;
  height: 2em;
}
.social img {
  width: 2em;
}
.social a, .social a:visited, .social a:hover {
  text-decoration: none;
  cursor: pointer;
  margin: 0 0 0 2em;
}
.social a:first-child {
  margin: 0;
}

p.action {
  width: 100%;
  text-align: center;
  margin: 20px 0;
  font-size: 24px;
}

form.user.hidden {
  display: none;
}

form.user fieldset {
  border: 0 solid transparent;
  margin: 0;
  padding: 0;
}

.question {
  width: 100%;
  margin: 10px 0;
  display: block;
}

.question label {
  display: block;
  font-weight: 700;
  margin: 1.3em 0 0.3em;
}

.question .check-label {
  font-weight: 400;
}

.question .text,
.question .checklist,
.question .single-check {
}

.question .checklist {
  line-height: 1.4;
}
.question .checklist input {
  margin-right: 7px;
}
.question .checklist label {
  margin-top: 0.5em;
}

.question input.text,
.question input.number,
.question textarea {
  border-radius: .25em;
  border: solid 1px #E3E3ED;
  resize: none;
  width: 100%;
  box-sizing: border-box;
  padding: 0.5em;
  outline: none;
  box-shadow: 0px 0px 0px 2px transparent;
  transition: box-shadow 200ms ease-in-out;
}
.question input.text:focus,
.question input.number:focus,
.question textarea:focus {
  box-shadow: 0px 0px 0px 2px #1e2164;
}
.question .short-desc, .question .desc {
  font-weight: 400;
  font-size: 0.8em;
}
.question .short-desc {
  color: #777;
  margin-left: 0.7em;
  float: right;
  margin-top: 0.1em;
}
.question .desc {
  color: #333;
  display: block;
}
.question button.file {
  margin-left: 0;
}

input[type=file] {
  display: none;
}

a.go-home {
  display: inline;
  background-color: #3D3D85;
  color: #fff;
}

footer {
  margin: 10em 0 0 0;
}

footer h1 {
  background-color: #1F2165;
  padding: 5rem 0;
  width: 100%;
  font-size: 3em;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  vertical-align: middle;
  margin: 0;
}

footer h1 .bottom-logo,
footer h1 .bottom-logo img{
  height: 2em;
  display: inline-block;
  vertical-align: middle;
  margin-right: .25em;
}

footer .sponsors {
  margin: 0;
  background-color: #fff;
  text-align: center;
  padding: 2rem 0 6rem 0;
  box-sizing: border-box;
}

@media (max-width: 640px) {
  .subheader-fact {
    font-size: 1.25em;
    display: block;
  }
  .subheader-fact:first-child {
    clear: both;
    float: none;
  }
  .subheader-fact:nth-child(n+2) {
    float: left;
  }
  .hero h1 {
    font-size: 1.875em;
  }
  .logo {
    margin-right: 1.5em;
    height: 7em;
  }
  .card, form.user {
    margin-right: 1em;
    margin-left: 1em;
    width: calc(100% - 2em);
  }
  footer {
    margin: 6em 0 0 0;
  }
  footer h1 {
    font-size: 1.5em;
  }
  .card.mission{
    padding-left: 2em;
  }
  .card.mission:after{
    display: none;
  }
  .hero > div {
    position: static;
  }
  .hero > div .register{
    position: absolute;
    left: 1em;
    bottom: 2em;
    width: calc(100% - 2em);
    display: block;
  }
  form.user .register {
    width: 100%;
  }
  form.user button.file {
    max-width: 18em;
  }
}